/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.s_main .ad_item{
		max-width: 100px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.caption h1{
		font-size: 40px;
	}
	
	.Team h4, .Team p{
		text-align: center;
	}

	.g_box h3{
		font-size: 20px;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

	.navbar-collapse{
		float: none;
	}

	.navbar-collapse .btn-primary{
	display:table;
	margin:auto;
	}

	.navbar-nav > li > a{
		padding-bottom: 10px;
		padding-top: 10px;
	}

	.caption h1{
		font-size: 28px;
	}

	.g_box .btn-success{
		width: 200px;
		font-size: 10px;
		padding-top: 13px;
	}

	.fb{
		padding: 0;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}